/* Hintergrundfarbe für den gesamten Body */
*{
    line-height: 1.2;
    font-family: 'Playfair Display', serif;
}

p {
    font-weight: 100; /* Sehr dünn */
}

strong {
    font-weight: 400; /* Normalgewicht (Standard) */
}

b {
    font-weight: 700; /* Fett */
}

h1{
    font-weight: 300; /* Dünner und eleganter als normal */
    color: #5c2d91;
    text-align: center;
}

body {
    background:  linear-gradient(to top, #ffffff, #cdbfbf);
        height: 100%;
        margin: 0;
    -webkit-font-smoothing: antialiased;
    }

nav {
      float: right;
      text-align: center; /* Zentriert den Inhalt der <ul> */
      margin-bottom: 15px;
}
nav a{
    text-decoration: none;
    color:black;
    border: 1px solid #ccc;
    border-radius: 5px;
    background:  linear-gradient(to bottom, #ffffff, #cdbfbf);
    font-size: 15px;
    padding: 5px 5px;
    margin-top: 8px; /* Fügt Abstand nach oben hinzu */
    display: inline-block; /* Verhindert, dass sich die <a>-Elemente überlappen */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Leichte Tiefe */
}
nav a:hover{
    background:  linear-gradient(to bottom, #ffffff, #4a2176);
}
nav a:active{
    background:  linear-gradient(to bottom, #ffffff, #4a2176);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto; /* Auto-Margin zentriert die <ul> horizontal */
    display: inline-block; /* Damit das <ul> nur so breit wie sein Inhalt ist */
    height: 15px;
}

nav ul li {
    display: inline; /* Damit die <li>-Elemente nebeneinander angezeigt werden */
    margin: 0;
}
/* Dropdown-Button (angepasst an Nav-Menü) */
.dropbtn {
    text-decoration: none;
    background:  linear-gradient(to bottom, #ffffff, #cdbfbf);
    font-size: 15px;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 8px; /* Fügt Abstand nach oben hinzu */
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
    display: inline-block; /* Gleichmäßige Ausrichtung */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Leichte Tiefe */
}

/* Button Hover-Effekt */
.dropbtn:hover {
    background:  linear-gradient(to bottom, #ffffff, #4a2176);
}

.dropbtn:active {
    background:  linear-gradient(to bottom, #ffffff, #4a2176);
}

/* Container für Dropdown */
.dropdown {
    position: relative;
    display: inline-block;

}

/* Dropdown-Inhalt */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 100px;
    z-index: 1000;

}

/* Links im Dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin: 0;
}

/* Hover-Effekt für Dropdown-Links */
.dropdown-content a:hover {
    background-color: #c12e2e;
}

/* Dropdown sichtbar bei Hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Container: Optimierung */
.defaultContainer {
    border-radius: 8px; /* Abgerundete Ecken */
    line-height: 1.8; /* Verbesserte Lesbarkeit */
    background-color: rgba(205, 133, 63, 0.1);
        padding: 20px;
        margin: 10px;
    text-align: center;

}

.defaultContainer h1 {
    font-size: 28px; /* Größere Überschrift */
    color: #aa3c3c; /* Farb-Akzent */
}

header{
    display: flex;              /* Flexbox aktivieren */
    flex-direction: column;     /* Container untereinander anordnen */
    align-items: center;        /* Zentrieren der Container horizontal */
    justify-content: center;    /* Zentrieren der Container vertikal (optional) */

}


/* Main und Footer: Anpassungen */
main {
    padding: 20px;
    border-radius: 8px; /* Abgerundete Kanten */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Schatten für Tiefe */
    display: flex;              /* Flexbox aktivieren */
    flex-direction: column;     /* Container untereinander anordnen */
    align-items: center;        /* Zentrieren der Container horizontal */
    justify-content: center;    /* Zentrieren der Container vertikal (optional) */
}


footer {
    border-radius: 8px;
    text-align: center; /* Zentrierter Text */
   margin-bottom: 40px;
}

footer a {
    text-decoration: none; /* Kein Unterstrich */
    font-weight: bold; /* Fetter Text */
    transition: color 0.3s ease;
    color: #5c2d91; /* Hintergrundfarbe (lila) */
    font-size: 23px;
}

footer a:hover {
    color: #f5b23d; /* Hover-Farbe für Links */
    width: 90%;
}

.zitate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Zentriert den Text horizontal */
    text-align: center; /* Zentriert den Text innerhalb des Containers */
}
.zitate hr{
    width: 90%;
}

.logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.logo-item {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-item img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

@media (max-width: 767px) {
    .aktuellesContainer{
        width: 80%;
    }

    .imgHeader {
        width: 70%;                /* Logo nimmt 70% der Container-Breite ein */
        height: auto;              /* Höhe wird automatisch skaliert */
        object-fit: cover;         /* Sorgt dafür, dass das Bild den Container vollständig füllt */
        border-radius: 50%;        /* Rundes Bild */
        display: block;            /* Entfernt mögliche zusätzliche Abstände von Inline-Elementen */
        margin: 0 auto;            /* Zentriert das Bild innerhalb des Containers */
    }

    .imageContainer {
        overflow: hidden;

        margin-right: 20px;
        margin-left: 20px;
        text-align: center;        /* Zentriert den Inhalt des Containers */
    }

    .imgHeaderSozio{

        width: 70%;                /* Logo nimmt 70% der Container-Breite ein */
        height: auto;              /* Höhe wird automatisch skaliert */
        object-fit: cover;         /* Sorgt dafür, dass das Bild den Container vollständig füllt */
        display: block;            /* Entfernt mögliche zusätzliche Abstände von Inline-Elementen */
        margin: 0 auto;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7),
        -5px -5px 15px rgba(255, 255, 255, 0.2);
    }

    .imageContainerSozio {
        margin-top: 20px;

    }

}

/* Responsive Anpassungen */
@media (min-width: 768px) {

    .defaultContainer{
        width: 69%;
    }

    .imageContainer {
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7),
        -5px -5px 15px rgba(255, 255, 255, 0.2);
    }

    .imageContainer img{
        width: 400px;
        border-radius: 20px;
    }


    .imageContainerSozio {
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7),
        -5px -5px 15px rgba(255, 255, 255, 0.2);
    }

    .imageContainerSozio img{
        width: 400px;
        border-radius: 20px;
    }

    .defaultUl {
        width: 69%;
    }

    body{
        display: flex;              /* Flexbox aktivieren */
        flex-direction: column;     /* Container untereinander anordnen */
        align-items: center;        /* Zentrieren der Container horizontal */
        justify-content: center;    /* Zentrieren der Container vertikal (optional) */
    }

    main{
        width: 50%;
    }
    .aktuellesContainer {
        flex-shrink: 0; /* Verhindert das Strecken */
        width: 50%;
        height: auto;
        box-sizing: border-box; /* Box-Modell korrekt einstellen */

    }


}

@media (min-width: 1950px) {
    main{
        min-height: 100vh;          /* Volle Höhe des Viewports */
    }
}
/* Container-Styling */
.infoBar {
    display: flex;
    justify-content: space-between; /* Elemente gleichmäßig verteilen */
    align-items: center;
    background-color: #5c2d91; /* Hintergrundfarbe (lila) */
    padding: 10px 20px; /* Abstand innen */
    color: white; /* Schriftfarbe */
    height: 10px;
    width: 90%;
}

/* Einzelne Info-Elemente */
.infoItem {
    display: flex;
    align-items: center;
    gap: 10px; /* Abstand zwischen Icon und Text */
    border-left: 1px solid white; /* Trennlinie */
    padding-left: 15px; /* Abstand nach links */
}

/* Erstes Element ohne Linie */
.infoItem:first-child {
    border-left: none;
    padding-left: 0;
}

/* Symbole */
.infoItem i {
    font-size: 1.2rem; /* Größe der Icons */
    color: white;
}

/* Text */
.infoItem span {
    font-size: 0.8rem; /* Schriftgröße */
    font-weight: normal;
}

i:hover{
    color: #f5b23d; /* Hover-Farbe für Links */
}

.defaultUl{
    justify-content: center;
    border-radius: 8px; /* Abgerundete Ecken */
    line-height: 1.8; /* Verbesserte Lesbarkeit */
    background-color: rgba(205, 133, 63, 0.1);
    padding: 20px;
    margin: 10px;
}
.defaultUl li::marker{
    color: #5c2d91;

}
.defaultUl li{
    list-style-type: square;
}


hr {
    border: none; /* Entfernt die Standardlinie */
    height: 4px; /* Höhe der Linie */
    background-color: rgba(205, 133, 63, 0.3);
    margin: 20px 0; /* Abstand oberhalb und unterhalb der Linie */
    border-radius: 2px; /* Abgerundete Kanten */
    width: 60%;
}
hr.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Schatten für mehr Tiefe */
}


.container {
    text-align: center;
    padding: 20px;
}

.container h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}




.profile-card {
    background-color: #fff8e1;
    width: 300px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile-card h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 4px;
}

.profile-card h3 {
    font-size: 16px;
    color: #777;
    margin-bottom: 15px;
}

.profile-card ul {
    list-style-type: disc;
    text-align: left;
    margin: 10px 0;
    padding-left: 20px;
}

.profile-card ul li {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15px;
    color: #555;
}

.contact-info a {
    text-decoration: none;
    color: #333;
}

.copy{
    color: #5c2d91;
    font-size: 14px

}
.formContainer {
    background-color: #fff8e1;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 25px;
}

form {
    display: flex;
    flex-direction: column;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 8px;
}

.checkbox-container span {
    text-align: center;
}


textarea{
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    height: 150px;
}

label {
    margin: 10px 0 5px;
    color: #5c2d91;
    font-weight: bold;
}

input[type="text"], input[type="password"] , input[type="email"] , input[type="tel"]  {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

input[type="submit"] {
    background-color: #5c2d91;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #4a2176;
}





.buttonLogin{
    background-color: #5c2d91;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
}
#imp, #daten{
    padding: 15px;
}

.errorMsg{
    padding: 10px;
    color: red;
    font-weight: bold;
}
.erfolgreichMsg{
    padding: 10px;
    color: #1a7600;
    font-weight: bold;
}


.übersicht{
    display: flex;
    flex-direction: column;
}
.mitarbeiter-tabelle {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.mitarbeiter-tabelle thead tr {
    background-color: #5c2d91;
    border-bottom: 2px solid #ddd;
}

.mitarbeiter-tabelle th,
.mitarbeiter-tabelle td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

.mitarbeiter-tabelle tbody tr:hover {
    background-color: #5c2d91;
}

.aktuellesContainer {
    display: flex;
    flex-direction: column;
    background-color: #fff8e1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
    align-items: center;
}

.aktuellesContainer img {
    width: 90%; /* Bildabstand zum Container */
    margin: 15px auto;
    max-height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.aktuellesContainer h2 {
    padding: 15px;
    font-size: 20px;
    background-color: #ffffff;
    color: #5c2d91;
    width:80%;
}

.aktuellesContainer p {
    padding: 15px;
    font-size: 16px;
    color: #666;
}

.date {
    font-size: 14px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
    width: fit-content;
    margin: 10px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#überschriftForm{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.headline {
    position: relative;
    display: inline-block;
}

.headline::after {
    content: "";
    display: block;
    width: 40vw; /* 70% der gesamten Bildschirmbreite */
    height: 1px;
    background-color: #5c2d91;
    margin: 4px auto 0;
}

